:root {
    --cor-principal: #9933CC;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #999999;
}

body,
#container__botao {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-principal);
}

.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 10vw auto;
    border-radius: 10px;
    padding: 2vw;
    background-color: var(--cor-secundaria);
    background-image: url(./ilustration.svg);
    background-repeat: no-repeat;
    background-size: 12em;
    background-position: top 2em right;
}

.container__inputs {
    display: flex;
}

.container__inputs-label {
    display: flex;
    flex-direction: column;
}

input {
    margin-right: 1em;
}

.container__checkbox {
    display: flex;
    align-items: center;    
}

#container__botao {
    width: 10vw;
    font-family: 24px;
    color: var(--cor-secundaria);
    margin-bottom: 1em;
    padding: .5em;
    background-color: var(--cor-principal);
    border-radius: 5px;
    border: none;

}

.titulos-principais,
.titulos-secundarios {
    color: var(--cor-principal);
}

.container__tabela {
    border-collapse: collapse;    
}

th, td {
    padding: 15px;
}

thead tr {
    border-bottom: solid 2px var(--cor-principal);
}

tbody tr:hover {
    background-color: var(--cor-terciaria);
}

@media (max-width: 800px) {
    .container {
        margin: 1em auto;
        width: 90vw;
        height: 90vh;
        background-position: top 2em center;

    }

    .container__titulo,
    .container__inputs {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .container__titulo {
        margin-top: 20vh;        
    }

    input {
        padding: .5em;
        border-radius: 5px;
        border: 1px solid var(--cor-terciaria);
    }

    .container__tabela {
        width: 90vw;
    }

    th, td {
        padding: 7px;
    }

    .container__botao-pai {
        text-align: center;
    }

    #container__botao {        
        width: 20vw;
        margin: 2rem 0;
    }    
}



